body {
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
html{
  scroll-behavior: smooth;
}
header {
  background-color: rgb(128, 128, 128);
  padding: 20px;
  display: flex;
  justify-content:space-between ;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 0;
  color: rgb(0, 0, 0);
}

nav {
  top: 0; /* Specify a threshold */
  padding: 14px 16px;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}
nav li a{
  text-decoration: none;
  color : rgb(255, 255, 255);
}

/* nav a:hover {
  border: 2px solid #ff0000 ;
  transition: calc(0.3s);
  display: block;
  transform: scale(1.2);
  background-color: rgb(234, 255, 0);
  text-decoration: none;
  color: black;
} */
main {
  padding: 20px;
}
.pricess{
  color: white;
  /* width: 200px; */
  margin-left: 45px;
  background-color: rgb(0, 0, 0);
}
h2{
  margin-top: -15px;
}
h3{
  /* width: 200px; */
  margin-left: 45px;
  background-color: #6afcf4;
}
.product-container {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  inline-size: auto;
  
}

.product {
  width: calc(25% - 20px);  /* Adjust width for responsiveness */
  margin-bottom: 10px;
  text-align: center;
}

.product img {
  margin-left: 100px;
  height: 120px;
  transition: 0.5s;
  width: 50%;
  display:block;
  box-shadow: 0px 0px 10px 2px;
}
.product img:hover{
  transform: scale(1.2);
}

/* Add media queries for different screen sizes (optional) */
@media only screen and (max-width: 1400px) {
  .product {
    width: 25%;
    
  }
}
@media only screen and (max-width: 1100px) {
  .product {
    width: 25%;
    
  }
}
@media only screen and (max-width: 800px) {
  .product {
    width: 30%;
  }
}
@media only screen and (max-width: 600px) {
  .product {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .product {
    width: 50%;
  }
}


/* Add some basic styling */
.center{
  text-align: center;
}
.pagination {
  display: inline-block;
  /* align-items: center; */
  /* justify-content: center; */
}

.pagination a {
  color: #ff0202;
  float: left;
  margin: 0 5px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.5s;
  border: 1px solid #FFF;
}

.pagination a.active {
  color: #000000;
  background-color: #0096FF;
  border-radius: 65px;
  border: 1px solid #000000;
}
.pagination a:hover:not(.active) {
  background-color: #fffb00;
}


footer{

  color: white;
  text-align: center;
  background-color: #50523d;
  height: 100px;
}

